:root{
    --bkgrnd: #666666;
    --purp: #9900cc;
}

* {
    font-family: "Lucida Console", monospace;
}


body{
    background-color: var(--bkgrnd);
}

header{
    padding: 20px;
    background-color: var(--purp);
    display: flex;
    justify-content: right;
    position: sticky;
    top: 0px;
    
}

header h1{
    justify-content: left;
    display: inline-block;
    font-size: 48px;
    flex: 1 1 auto;
    
}

nav{
    padding-top: 15px;
}

nav a{
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
    color: black;
    flex: 1 1 auto;
    width: 25%;
    
    
}

nav a:hover{
    padding-top: 35px;
    padding-bottom: 28px;
    background-color: black;
    color: var(--purp);
}

nav a:active{
    /* top right bot left*/
    padding: 29px 14px 22px 14px;
    border: 6px var(--purp);
    border-style: double;
}
 

.leftBox {
    margin: 20px;
    padding: 20px;
    clear: both;
    width: 20%;
    height: 20vh;
    display: inline-block;
    text-align: right;
    background-color: var(--purp);
}

aside {
    margin: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 70%;
    height: 20vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--purp);
}

img{
    background-size: contain;
}

@media screen and (max-width: 800px) {
    nav a {
      flex-direction: column;
      padding-top: 0px;
      padding-bottom: 0px;
      
    }
    nav a:hover{
        padding: 3px 17px 3px 17px;
        background-color: black;
        color: var(--purp);
    }
    nav a:active{
        padding: 0px 14px 0px 14px;
        border: 3px var(--purp);
        border-style: double;
    }

    .leftBox{
        margin: 10px;
    }
    aside{
        margin: 10px;
    }
} 